<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQExercises.Properties.Settings.countryConnectionString" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=country;User ID=country;Password=Fa4G~Y!ge5kx" providerName="System.Data.SqlClient" />
    <add name="northwinddb2Entities" connectionString="metadata=res://*/NorthwindDB.csdl|res://*/NorthwindDB.ssdl|res://*/NorthwindDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql8.gear.host;initial catalog=northwinddb2;persist security info=True;user id=northwinddb2;password=Dc487o_Knh5!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>